html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

body {
    background: #204c8c;
    color: #fff;
    overflow-x: hidden;
    text-align: center;
}

main {
    height: 100vh;
    padding-bottom: 40px;
    position: absolute;
    width: 100%;
}

.weather-location-form-container {
    background: #325b96;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
}

.weather-location-detail {
    border-radius: 8px;
    padding: 8px;
}

.weather-location-detail h1, .weather-location-detail p {
    margin-bottom: 0;
}

.btn, .form-control {
    box-shadow: none !important;
}

.btn-primary, .form-control:focus {
    border-color: #204c8c !important;
}

.btn-primary {
    background: #204c8c !important;
}

.btn-primary:hover {
    opacity: 0.8;
}

footer {
    bottom: 0;
    height: 40px;
    padding: 10px;
    position: fixed;
    width: 100%;
}